{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12">
        <h2>Annuler une sortie</h2>
    </div>
</div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="annulation">
                <br><p class="labelp">Nom de la sortie :</p><p> {{ sortie.nom }}</p><br>
                <p class="labelp">Date de la sortie :</p><p> {{ sortie.dateHeureDebut|date('d/m/Y') }}</p><br>
                <p class="labelp">Site organisateur :</p><p> {{ sortie.campus.nom }}</p><br>
                <p class="labelp">Lieu :</p><p> {{ sortie.lieu.nom }}</p><br>
            </div>
            {{ form_start(motifForm) }}
            {{ form_widget(motifForm) }}
            <div class="btnalign">
            <button type="submit" class="btn btn-secondary btn-lg">Enregistrer</button>  <a class="btn-light btn-lg" id="falsebtn" href="{{ path('sorties_afficher') }}" style="color: #343a40">Annuler</a>
            {{ form_end(motifForm) }}
            </div>
        </div>
        </div>
        <div class="col-sm-3"></div>

{% endblock %}