{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |
    {% if sortie is defined %}
        {{ sortie.nom }}
    {% else %}
        sortie non trouvée !
    {% endif %}
{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block main %}
    {% if sortie is empty %}
        <h2>Pas de sortie trouvés !</h2>
    {% else %}
        <h2>{{ sortie.nom }}</h2>
        <div>
            <p>Nom de la sortie : {{ sortie.nom }}</p>
            <p>Etat : {{ sortie.etat.libelle }}</p>
            <p>Date et heure de la sortie : {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
            <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</p>
            <p>Nombre de places : {{ sortie.inscrit.count }}/{{ sortie.nbInscriptionMax }}</p>
            <p>Durée : {{ sortie.duree|date('d') - 1 }} jours {{ sortie.duree|date('H') }} heures
                et {{ sortie.duree|date('i') }} minutes</p>
            <p>Description et info : {{ sortie.infosSortie }}</p>
        </div>
        <div>
            <p>Lieu : {{ sortie.lieu.nom }}</p>
            <p>Rue : {{ sortie.lieu.rue }}</p>
            <p>Ville : {{ sortie.lieu.ville.nom }}</p>
            <p>Code postal : {{ sortie.lieu.ville.codePostale }}</p>
            <p>Latitude : {{ sortie.lieu.latitude }}</p>
            <p>Longitude : {{ sortie.lieu.longitude }}</p>
        </div>
        <div>
            {% if sortie.inscrit|length > 0 %}
                <h3>Liste des participants inscrits</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in sortie.inscrit %}
                        <tr>
                            <td><a href="{{ path('profil', {'id':participant.id}) }}">{{ participant.pseudo }}</a></td>
                            <td>{{ participant.prenom }} {{ participant.nom|upper }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>Aucun participant pour cet evenement !</h3>
            {% endif %}
        </div>
        {% if sortie.etat.libelle == 'Ouverte' %}
            {% if sortie.isInscrit(app.user) %}
                <a class="btn btn-primary" href="{{ path('desinscrire',{'id':sortie.id}) }}">Se desister</a></td>
            {% else %}
                <a class="btn btn-primary" href="{{ path('sinscrire',{'id':sortie.id}) }}">S'inscrire</a></td>
        {% endif %}
        {% elseif sortie.etat.libelle == 'Créée' %}
            <a class="btn btn-secondary" href="{{ path('sorties_publier', {'id':sortie.id}) }}">Publier</a>
        {% endif %}
    {% endif %}
{% endblock %}