{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if sorties is empty %}
        <h2>Pas de sorties trouvés !</h2>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.inscrit.count }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom[:1] }}</td>
                    <td><a href="{{ path('desinscrire',{'id':sortie.id}) }}">se désister</a> <a href="{{ path('sinscrire',{'id':sortie.id}) }}">s'inscrire</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}