{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block main %}

    <table>
        <thead>
        <tr>
            <th>pseudo</th>
            <th>Nom de l'utilisateur</th>
            <th>prenom</th>
            <th>téléphone</th>
            <th>administrateur</th>
            <th>état</th>
            <th>photo</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in liste %}
            <tr>
                <td><a href="{{ path('profil', {'id': participant.id}) }}">{{ participant.pseudo }}</a></td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                {% if participant.administrateur %}
                    <td>oui <a href="{{ path('admin_annulerAdmin', {'id': participant.id}) }}">Annuler Admin</a></td>
                {% else %}
                    <td>non <a href="{{ path('admin_passerAdmin', {'id': participant.id}) }}">passer Admin</a></td>
                {% endif %}
                {% if participant.actif %}
                    <td style="background-color: #3c763d">actif</td>
                {% else %}
                    <td style="background-color: #AA3333">Inactif</td>
                {% endif %}
                <td><img src="{{ asset('images/participant/') }}{{ participant.avatar }}" height="10%" width="20%"></td>
                {% if participant.actif %}
                    <td><a href="{{ path('admin_supprimer', {'id': participant.id}) }}">supprimer</a> <a
                                href="{{ path('admin_desactiver', {'id': participant.id}) }}">desactiver</a></td>
                {% else %}
                    <td><a href="{{ path('admin_supprimer', {'id': participant.id}) }}">supprimer</a>
                        <a href="{{ path('admin_activer', {'id': participant.id}) }}">activer</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_creerCompte') }}" class="btn btn-primary">Créer un compte</a>
{% endblock %}