{% extends 'base.html.twig' %}
{% block title %}Mon profil | {{ parent() }}{% endblock %}
{% block main %}
    <h2>{{ participant.username }}</h2>
    <div class="form-group">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Changer de mot de passe" name="Changer de mot de passe" class="btn btn-secondary"/>
        {{ form_end(form) }}
    </div>
{% endblock %}

