{% extends 'base.html.twig' %}
{% block title %}Mon profil | {{ parent() }}{% endblock %}
{% block main %}
    <div class="flash">{{ include('inc/flashmessage.html.twig') }}</div>
    <div class="row" id="profil">

        <div class="col-sm-12"><h2>Profil de {{ profil.pseudo }}</h2></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="form-group">
                {% if profil.avatar is not null %}
                    <div style="text-align: center;"><img src="{{ asset('images/participant/') }}{{ profil.avatar }}"
                                                          width="300vw"></div>
                {% else %}
                    <p>Pas d'image de profil</p>
                {% endif %}
                {{ form_start(profilForm) }}<br>
                {{ form_row(profilForm.pseudo) }}<br>
                {{ form_row(profilForm.prenom) }}<br>
                {{ form_row(profilForm.nom) }}<br>
                {{ form_row(profilForm.telephone) }}<br>
                {{ form_row(profilForm.mail) }}<br>
                {{ form_row(profilForm.campus) }}<br>
                {% if app.user == profil or is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-secondary" href="{{ path('modifierProfil', {'id': profil.id}) }}">Modifier les
                        informations</a>
                {% endif %}
                {% if app.user == profil %}
                    <a class="btn btn-info" href="{{ path('changerMDP') }}">Changer de mot de passe</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

